.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  right: 20px;
  top: 20px;
}

.headerHero {
  height: 100vh;
  background-image: url("./images/hero-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 20px;
}

.title {
  margin: 0;
  text-align: center;
}
